<% include ../partials/header.ejs  %>

<main class="container">
  <h1>Dados salvo com sucesso!</h1>

  <dl>
    <dt><%= usuario.nome %></dt>
    <dd><%= usuario.email %></dd>
    <dd><%= usuario.senha %></dd>
  </dl>
</main>

<% include ../partials/footer.ejs %>
