<footer class="footer">
  <div class="container">
    <img class="footer-logo" src="/img/caelum.svg" alt="Logo da Caelum">
  </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/app.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('usuarioInserido', function(usuario) {
       alert('Mensagem do websocket: usuário inserido: ' + usuario);
       socket.emit('okDoCliente', 'OK usuarioInserido');
    });
    socket.on('usuarioAtualizado', function(usuario) {
       alert('Mensagem do websocket: usuário atualizado: ' + usuario);
       socket.emit('okDoCliente', 'OK usuarioAtualizado');
    });
</script>
</body>
</html>
