<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Home da API</title>

  <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/footer.css">

</head>
<body>
  <header class="header">
    <div class="container">
      <a class="header-logo" href="/">
        <h1>Ceep</h1>
      </a>
      <nav class="wrap-menu">
        <ul class="menu">
          <li class="menu-item">
            <a class="menu-item-action button" href="/usuario">Cadastro de Usuário</a>
          </li>
          <li class="menu-item">
            <a class="menu-item-action button" href="/usuario/lista">Lista de Usuários</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
